
/* Common Stlyes */
body { background-color: ivory padding:20px; }
canvas { border: 2px solid #0693e3; box-shadow: 2px 2px 2px #aaaaaa;}
hr{ border-top: 2px solid #0693e3;}
.container{ max-width: 900px; margin:0 auto; }
.d-flex{ display: flex; }
.mt-s{ margin-top: .5rem; }
.justify-content-end {
    justify-content: flex-end!important;
}
.ml-auto{ margin-left: auto!important; }
.upload_image_btn{ display: inline-block; background-color: #0693e3; border: 1px solid #0693e3; color: #fff; padding: 5px 15px; margin-left: 10px; margin-top: 4px; }
button{ margin: 5px 0px; padding:5px 10px; margin-left: 0px; background-color: #0693e3; border: 1px solid #0693e3; color: #fff;}
button:first-child{ margin-left: 0px; }
.modal-box{ position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1072; background: rgba(0, 0, 0, 0.5); display: none; }
.modal-dialog{ max-width: 500px; margin: 3rem auto; width: auto; }
.modal-dialog{ }
.modal-content{ position:relative; background: #aaa; padding: 1rem 3rem 2rem 3rem;}
.modal-content .close{ position: absolute; top: 0px; right: 0px; padding: 10px; cursor: pointer;}
#theText{ height: 30px; width: 75%; }
h2{ margin-top: 0; margin-bottom: 10px} 
h3{ margin-top: 0; } 
.responsive-canvas{ width: 900px; }
.thumb-image>img{ width: 100px; height: 100px; }